* {
    box-sizing: border-box;
}
body{
    background-color: #ece7e7;
}
body header {
    position: relative;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header img {
    width: 40px;
    height: 40px;
    float: left;
}
header h1{
    font-size: 25px;
    font-weight: bold;
    padding-top: 7px;
}

main aside {
    border-radius: 5px;
    position: relative;
    float: left;
    width: 30%;
    margin-top: 50px;
    height: 465px;
    border: 2px solid rgb(111, 112, 111);
    margin-right: 15px;
}
main aside h3 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    font-family: cursive;
}
main article {
    font-size: 25px;
    text-align: justify;
}

main article h3 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

main {
    padding-left: 10px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

body main section:first-child {
    padding-top: 50px;        
}
footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    padding-left:10px;
    font-size: 20px;
}

main section:last-child img {
    width: 200px;
    height: 150px;
    margin-left: 80px;
    border: 2px solid rgb(111, 112, 111);
    border-radius: 5px;
}

header label {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    width: 50px;
    line-height: 50px;
    text-align:center;
    border: 2px solid rgb(111, 112, 111);
    border-radius: 50%;
    color: darkorange;
}
main aside p {
    padding: 5px;
    text-align: justify;
}

button {
    outline: none;
    background-color: darkorange;
    height: 30px;
    width: 100%;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 3px;
    border: 0.5px solid rgb(111, 112, 111);
}

main aside ul {
    padding-left: 15px;
    padding-top: 10px;
    color: rgb(218, 123, 8);
    font-size: 16px;
    line-height: 18px;
    font-family: cursive;
    list-style: disc;
    list-style-position:inside;
}

